* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #2d2d2d;
}

#logo-dnc {
    width: 120px;
    margin-left: 55px;
    margin-top: 42px;
}

p {
    text-align: center;
}

#bem-vindo {
    text-align: center;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 27px;
    margin-bottom: 27px;
}

label {
    margin-top: 10px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    width: 524px;
    margin: auto;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 8px;
    border-radius: 5px;
    margin-top: 8px;
}

input {
    width: 524px;
    height: 45px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: none;
    outline: none;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

.input span.error {
    display: flex;
    padding: 0;
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

input::placeholder {
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
}

button {
    width: 524px;
    height: 48px;
    background: #0C70F2;
    border-radius: 6px;
    border: none;
    margin-top: 28px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}